$custom-prim: #1F356C;
$custom-sec: #6D89EC;
$custom-ter: Gray 4;
$custom-light: #F5F5F5;
$custom-dark: #37392E;

$title-font: Antonio;
$main-font: Antonio;
$extra-font: Montserrat;


@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

* {
    
    font-family: $main-font;
}

html, body {
    background-color: $custom-light;
}

#navbar {
    height: 3rem;
    background-color: $custom-prim !important;
    font-family: $title-font;
    font-size: 1.5rem;
    color: $custom-sec;
}

nav > a {
    font-family: $title-font;
    font-size: 2rem !important;
    color: $custom-sec !important;
}
